{% extends "base.html" %}

{% block title %}Secret Number{% endblock title %}

{% block content %}

        <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1>Welcome to secret guess</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <form method="post" action="/" name="formulario">
                    <input type="text" name="guess" placeholder="Enter a number between 0 and 30">
                    <br>
                    <div class="col-7 text-center">
                        <button type="button" class="btn btn-secondary btn-lg">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- bucle que comprueba si se ha acertado el numero y segun esta comprobacion muestra distintos mensajes por pantalla -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            {% if data %}
                {% if data.result == True %}
                    <h4>Acertaste</h4>
                    {% if data.wrong_guess|length == 0 %}
                        <h5>Acertaste todos a la primera</h5>
                    {% else %}
                        <h5>Has fallado los siguientes numeros:</h5><br>
                        <ul>
                        {% for wrong in data.wrong_guess %}
                            <li>{{ wrong }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% else %}
                    <h4>No acertaste</h4>
                    <h6>{{ data.tip }}</h6>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}

