{% extends "base.html" %}

{% block title %}Secret Number{% endblock title %}

{% block content %}

        <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1>Welcome to secret guess</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <form method="post" action="/" name="formulario">
                    <input type="text" name="guess" placeholder="Enter a number between 0 and 30">
                    <br>

                    <button type="submit" class="">Submit</button>
                </form>
            </div>
        </div>
    </div>



    {% if data %}
        {% if data.result == True %}
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <h4>Acertaste</h4>
                    </div>
                </div>
            </div>
            {% if data.wrong_guess|length == 0 %}
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <h5>Acertaste a la primera</h5>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <h5>Has fallado los siguientes numeros:</h5><br>
                        </div>
                    </div>
                </div>
                <ul>
                    {% for wrong in data.wrong_guess %}
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-4">
                                    <li>{{ wrong }}</li>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}
        {% else %}
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <h4>No acertaste</h4>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <h6>{{ data.tip }}</h6>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock content %}

